<?xml version="1.0"?>
<launch>
  <!--Argument in this launch file-->
  <arg name="rqt_steering" default="false"/>
  <arg name="rviz" default="false"/>
  <arg name="model" default="$(find csie-retriever_description)/robots/pioneer3dx.xacro"/>
  <arg name="diffconfig" default="$(find csie-retriever_ros_control)/config/csie-retriever_ros_control_real.yaml"/>
  <arg name="rvizconfig" default="$(find csie-retriever_ros_control)/rviz/csie-retriever.rviz" />

  <!-- Convert an xacro and put on parameter server-->
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" /> 

  <!--Load controller parameter-->
  <rosparam command="load" file="$(arg diffconfig)"/>
  <param name="finish_construction" type="bool" value="false"/>


  <!--Spawn Controller-->
  <node name="diff_controller_spawner" pkg="controller_manager" type="spawner"
    args="retriever_joint_state_controller
          retriever_diff_drive_controller"/> 

  <!--communicate with robot by serial port using ROSARIA-->
  <!--Main control-->
  <node name="aria_controller" pkg="rosaria" type="RosAria">
    <param name="base_link_frame" value="base_footprint"/>
    <remap from="/aria_controller/cmd_vel" to="/cmd_vel"/>
  </node>

  <!--Publish robot state-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
   <param name="publish_frequency" type="double" value="30.0"/>

  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>

  
    <!--port="/dev/ttyUSB0"/>-->

  <!--Main control node-->
  <!--<node name="retriever_ros_control" pkg="retriever_ros_control" type="retriever_ros_control"
    output="log" respawn="true" respawn_delay="3"/>-->


  <!--Gui steering console (Optional)-->
  <group if="$(arg rqt_steering)">
<!--    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
      <param name="default_topic" value="/aria_controller/cmd_vel"/>
    </node>-->
    <node name="key_teleop" pkg="key_teleop" type="key_teleop">
        <remap from="/key_vel" to="/cmd_vel"/>

    </node>
 </group>




<!--Gui rviz interface (Optional)-->
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
  </group>

</launch>

