<?xml version="1.0"?>

<robot name="pioneer3dx" xmlns:xacro="http://ros.org/wiki/xacro">
	   
  <xacro:include filename="$(find csie-retriever_description)/urdf/base/pioneer3dx_body.xacro"/>
  <xacro:include filename="$(find csie-retriever_description)/urdf/sensors/hokuyo_utm30lx.urdf.xacro"/>
  <xacro:include filename="$(find csie-retriever_description)/urdf/sensors/_d435.urdf.xacro"/>
  <sensor_d435 parent="base_link">
    <origin xyz="0.110 0.0 0.3" rpy="0 0 0"/>
  </sensor_d435>
  <hokuyo_utm30lx parent="base_link" name="laser">
    <origin xyz="0.02 0 0.4" rpy="0 0 0"/>
  </hokuyo_utm30lx>


</robot>
